{% extends "fourth_task/menu.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        {% block pagename %}
        {{ block.super }}
        {% endblock %}
    </header>

    <menu>
        {% block menu %}
        {{ block.super }}
        {% endblock %}
    </menu>

    <content>
        {% block content %}
        {{ block.super }}
        <ul>
            {% for game in games %}
                    <li>{{ game.title }} | {{ game.description }}. Стоимость {{ game.cost }} <button>{{ buy }}</button></li>
            {% endfor %}
        </ul>
        <button><a href="/main-page"><p align="center">{{ back }}</p></a></button>
        {% endblock %}
    </content>
</body>
</html>